/* Estilos Gerais */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Imagens/Login/imagem_principal.svg");
    background-size: cover;
    background-attachment: fixed;    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

/* Formulário de Login */
.container {
    max-width: 800px;
    padding: 2rem;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-login {
    padding: 2rem;
}

.box-login h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    background-color: #383838;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
}

.form-control::placeholder {
    color: #777;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px #4338CA;
}

.btn-primary {
    background-color: #4338CA;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #584cc8;
}

.fa-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.logo img {
    max-width: 150px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

/* Estilos para Mostrar/Esconder Senha */
#show-senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

input[type="password"] {
    position: relative;
}

input[type="password"]:focus + #show-senha {
    color: #4338CA;
}

#show-senha.fa-eye-slash {
    color: #777;
}

/* Estilo para o Formulário */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #4338CA;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #282828;
    margin-bottom: 1rem;
}

.form-control::placeholder {
    color: #999;
}

.btn-primary {
    background-color: #4338CA;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #584cc8;
}